body {
  text-align: center;
}

.mainPic {
  border-style: dotted rounded black 10px;
}

h1 {
  font: green;
}

sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  left: auto;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: pink;
  overflow-x: hidden;
  padding-top: 20px;
}

sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

sidebar a:hover {
  color: #f1f1f1;
}

.timeline {
  position: fixed;
  right: auto;
  background-color: blue;
  font: green;

}
